.m-cards{
    width: 166px;
    height: 250px;
    flex-shrink: 0; 
    top: 2vh;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}
.mv-card{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #303030;
}
.mv-card img{
    width: 166px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    /* z-index: -1; */
}
.mb-card{
    width: 300px;
    height: 350px;
    z-index: 100;
    position: absolute;
    border-radius: 10px;
    transform: scale(0.35);
    transition: 0.5s ease;
    opacity: 0;
    background-color: rgb(34, 34, 34);
}
.m-cards:hover .mb-card{
    transform: scale(1);
    opacity: 1;
} 
.mb-card img{
    height: 50%; 
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.mb-card h1{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.mb-card p{
    margin: 10px;
    color: rgb(255, 255, 255);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mb-card button{
    background: linear-gradient(90deg, #00bdff, #0079ff);
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 75%;
    top: 33%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width < 481px) {
    .m-cards{
        height: 201.2px;
        width: 134px;
    }
    .mv-card img{
        height: 201.2px;
        width: 134px;
    }
    .mb-card{
        display: none;
    }
}

@media (hover : none){
    .m-cards:hover .mb-card{
        transform: scale(0);
        opacity: 0;
    }
}
