.categories{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.categories h1{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin-bottom: 5vh;
    flex-shrink: 0;
}
.genre-div{
    height: auto;
    width: 90vw;
    margin-left: 7.2vmax;
    display: grid;
    grid-template-columns: repeat(5, minmax(91px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
}
.genre-btn{
    height: 120px;
    width: 255px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: 0.1s ease;
    background: linear-gradient(90deg, rgba(24,37,121,1) 0%, rgba(0,212,255,1) 100%);

}
.genre-btn:hover{
    transform: scale(1.2);
    box-shadow: 1px 1px 10px white;
}
.genre-btn:hover:active{
    transform: scale(1.1);
    background: white;
    color: rgba(24,37,121,1);
}

@media (width < 481px) {
    .categories{
        height: 92vh;
        width: 100vw;
    }
    .categories h1{
        margin-bottom: 2vh;

    }
    .genre-div{
        /* height: 100vh; */
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(2, auto);
        column-gap: 0vmin;
        row-gap: 3vmin;
        place-items: center;
        overflow: auto;
    }
    .genre-btn{
        height: 100px;
        width: 47vw;
        font-size: 22px;
        padding: 17px;
    }
}