.movies-all{
    height: 100%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    scroll-behavior: smooth;
    /* background-color: pink; */
    position: relative;
}
.movies-all .component-name{
    height: 8vh;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin-bottom: 3vh;
}

@media (width < 481px) {
    .movies-all{
        height: 100dvh;
    }
    .movies-all .component-name{
        background-color: transparent;
        border-bottom: 1px solid rgb(49, 49, 49);
        margin-bottom: 0;
    }
}