.layout{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    overflow-y: auto;
    /* scrollbar-gutter: stable; */
    scroll-behavior: smooth;
}
.mobile-logo{
    display: none;
}

::-webkit-scrollbar{     
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: rgba(200, 200, 200, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(104, 104, 104, 0.9); 
}

::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, 0.6); 
    border-radius: 10px; 
}


.home-movies{
    padding-bottom: 12vh;
}

@media (width < 481px) {
    .layout{
        height: 100dvh;
    }
    .mobile-logo{
        top:1.5vh ;
        left: 2vw;
        display: flex;
        position: fixed;
        z-index: 1000;
        pointer-events: none;

    }
    .mobile-logo img{
        height: 2.3vh;
    }
    
}