.video-play{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
iframe{
    height: 100vh;
    width: 100vw;
    background-color: black;
    border: none;
}
.mobile-back{
        position: absolute; /* Position it relative to the nearest positioned ancestor */
        top: 20px; /* Adjust the top margin as needed */
        right: 20px; /* Adjust the right margin as needed */
        z-index: 1000; /* Make sure it stays on top */
}

@media (width < 481px ){
    .video-play{
        height: 85vh;
    }
    iframe{
        height: 25vh;
        width: 100vw;
    }
}