.m-moviesLoading{
    height: 100%;
    width: 100%;
}
.m-cardLoading{
    height: 75%;
    width: 92%;
    position: absolute;
    border-radius: 10px;
    left: 7.5vw;
    display: grid;
    grid-template-columns: repeat(7, 11.7%);
    column-gap: 30px;
    row-gap: 30px;
    align-content: center;
}
.divLoading{
    width: 166px;
    height: 250px;
    border-radius: 5px;
    background-color: #303030;
    animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse{
    0% {
      background-color: #333;
    }
    50% {
      background-color: #444;
    }
    100% {
      background-color: #555;
    }
}

@media (width < 481px){
  .m-moviesLoading{
    height: 100vw;
}
  .m-cardLoading{
    height: auto;
    width: auto;
    left: 0;
    grid-template-columns: repeat(3, auto);
    column-gap: 1vw;
    row-gap: 2vw;
  }
  .divLoading{
    height: 201.2px;
    width: 32.3vw;
  }
}