.movies{
    width: 92vw;
    height: 37.5vh;
    margin-left: 7.2vmax;
    color: white;
    display: flex;
}

.genre{
    width: 100%;
    height: 30vh;
    position: relative;
}

.genre h2{
    display: flex;
    align-items: center;
}

.all-cards{
    display: flex;
    /* width: 92vw; */
    width: 100%;
    gap: 0.65vw;
    overflow: hidden;
    min-height: 31.1vh;
    position: relative;
    scroll-behavior: smooth;
    transition: all;
    scroll-snap-type: x mandatory; 
}
.all-cards > * {
    scroll-snap-align: start; /* Snap cards at the start of the container */
}

.all-cards::-webkit-scrollbar{     
    display: none;
}

.btn1 {
    width: 6vw;
    height: 226.5px ;
    position: absolute;
    top: 5.5vh;
    border: none;
    opacity: 0;
    background: transparent;
    transition: 0.2s;
    color: white;
    font-size: 25px;
}
.right{
    right: 0;
    background: linear-gradient(to left,#000000 0%, #00000000 100%);
}
.left{
    background: linear-gradient(to right, #000000 0%, #00000000 100%);
}
.all-cards:hover ~ .btn1,
.btn1:hover {
  opacity: 1;
}



@media (width < 481px) {
    .movies{
        height: 32vh;
        width: 100vw;
        margin-left: 0;
        position: relative;
    }
    .genre{
        height: 28vh;
    }
    .genre h2{
        padding-left: 3vw;
    }
    .all-cards{
        width: 100vw;
        height: 23vh;
        overflow-x: auto;
    }
    .btn1{
        display: none;
    }
}

