.movies{
    width: 92vw;
    height: 30vh;
    margin-left: 7.2vmax;
    color: white;
    display: flex;
}

.genre{
    width: 100%;
}

.genre h2{
    height: 6vh;
    display: flex;
    align-items: center;
}

.all-cards{
    display: flex;
    /* height: auto; */
    width: 100%;
    gap: 1vw;
    overflow-x: auto;
    overflow-y: visible;
    align-items: center;
}

.all-cards::-webkit-scrollbar{      /*for hiding scrollbar*/
    display: none;

    
}

