.nav{
    display: flex;
}

.sideNav{
    display: flex;
    height: 100vh;
    width: 5vw;
    align-items: center;   
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}

.sideNav ul{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-left: 1.5vw;
    list-style-type: none;
    width: 3.8vw;
    overflow: hidden;
    transition:0.5s;
    pointer-events: auto;
    text-decoration: none;
}

.sideNav:hover{
    width: 14vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0) 100%);
}
.sideNav:hover ul{
    width: 14vw;
}


.sideNav ul li{
    width: 11vw;
    height: 8vh;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.1s ease;    
}

.sideNav ul li:hover{
    color: white;
    transform: scale(1.05);
    z-index: 1000;
    text-decoration: none;
}
.active-color{
    color: white;
}
.fade-color{
    color: rgba(102, 102, 102, 0.69);
    transition: 0.5s ease;
}

.sideNav a{
    text-decoration: none;
}

.idiv{
    font-size: 21px;
    width: 4vw;
    display: flex;
    justify-content: center;
}

.logo{
    position: fixed;
    top:2.5vh ;
    left: 1vw;
    z-index: 1000;
    pointer-events: none;
}
.logo img{
    height: 3vh;
}

